/* * {
  display: flex;
} */
#root {
  width: 100vw;
  height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  width: 100%;
  height: 20%;
  margin-top: 3%;
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 75%;
  padding-right: 20%;
}
.logo {
  width: 25%;
  height: 100%;
}


.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2% 0;
}


h4 {
  width: 80%;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.question {
  margin-top: 4%;
}
.sample-radio {
  margin: 1vh 0;
}
.checkbox {
  height: 3vh;
}
.checkbox-label {
  margin-left: 5%;
}
.text {
  margin-left: 1vw;
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 3vh;
}
