include utils.pug

input(type='hidden' name='_csrf' value=csrfToken)
+textField('Title', 'title', book.title, 'text')
+textField('Author', 'author', book.author, 'text')
+textField('Release Date', 'releaseDate', book.releaseDate, 'date')
+textField('Page Count', 'pageCount', book.pageCount, 'number')
+textField('Publisher', 'publisher', book.publisher, 'text')
