<form method="post" action="{{ url_for('login') }}">
    {{ form.csrf_token }}
    <div>
      {{ form.name.label }} {{ form.name }}

      {% if form.name.errors %}
        <ul>
          {% for error in form.name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div>
        {{ form.password.label }} {{ form.password }}

        {% if form.password.errors %}
          <ul>
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    <div>{{ form.submit }}</div>
    <a href="{{ url_for('signup') }}" style="color: black;border: 1px black solid; border-radius: 3px; padding: 3px; text-decoration: none; background-color: rgb(223, 223, 223);">New User</a>
  </form>
