extends layout.pug

block content
    h1 SIGN UP HERE
    form(action='/users/signup' method='post')
        label(for='username') Username:
        input(type='text' name='username')
        label(for='email') Email:
        input(type='email' name='email')
        label(for='password') Password:
        input(type='text' name='password')
        label(for='faveBread') Favorite Bread:
        select(name='faveBread')
            each bread in breads
                option(value=bread)= bread
        button Sign Up
