form(action='/entrees' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    label(for='name') Name
    input(type='text' name='name' required)
    label(for='description') Description
    textarea(type='text' name='description')
    label(for='price') Price
    input(type='number' name='price' required)
    label(for='entreeTypeId') Entree Type
    select(name='entreeTypeId' required)
            each type in entreeTypes
                option(value=type.id) #{type.name}
    button Create
